# Minecraft
public net.minecraft.client.Minecraft field_110452_an

# Block
public net.minecraft.block.Block func_149672_a(Lnet/minecraft/block/SoundType;)Lnet/minecraft/block/Block; # setSoundType

# TextureMap
public net.minecraft.client.renderer.texture.TextureMap field_94252_e # mapUploadedSprites
public net.minecraft.client.renderer.texture.TextureMap field_94258_i # listAnimatedSprites
public net.minecraft.client.renderer.texture.TextureMap field_94249_f # missingImage
public net.minecraft.client.renderer.texture.TextureMap field_94254_c # basePath
public net.minecraft.client.renderer.texture.TextureMap field_110574_e # mapRegisteredSprites
protected net.minecraft.client.renderer.texture.TextureMap func_110569_e()V # initMissingImage

# RenderItem
public net.minecraft.client.renderer.RenderItem func_191965_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;I)V # renderModel
public net.minecraft.client.renderer.RenderItem func_191961_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;Lnet/minecraft/item/ItemStack;)V # renderModel

# Ingredient
public net.minecraft.item.crafting.Ingredient field_193371_b # matchingStacks

# ItemModelMesher
public net.minecraft.client.renderer.ItemModelMesher field_178092_c # shapers
public net.minecraft.client.renderer.ItemModelMesher func_178084_b(Lnet/minecraft/item/ItemStack;)I # getMetadata

# GuiContainer
protected net.minecraft.client.gui.inventory.GuiContainer func_146977_a(Lnet/minecraft/inventory/Slot;)V # drawSlot
protected net.minecraft.client.gui.inventory.GuiContainer field_146993_M # doubleClick
protected net.minecraft.client.gui.inventory.GuiContainer func_146975_c(II)Lnet/minecraft/inventory/Slot; # getSlotAtPosition